{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "(types/.*|.*\\.types$|types)",
    "(api/.*|.*\\.api$|api)",
    "(./util|util/.*|.*\\.util$|.*\\-util$)",
    "(./test-util|test-util/.*|.*\\.util$|.*\\-util$)",
    "(constants/.*|.*\\.constants$|constants)",
    "(hooks/.*|.*\\.hooks$|hooks)",
    "(state/.*|.*\\.state$|state)",
    "(routes/.*|.*\\.routes$|routes)",
    "(components/.*|.*\\.components$|components|atoms|molecules|organisms|layout|pages)",
    "^(./|../)(?!.*\\.svg\\?react$)(?!.*\\.css$)(?!.*\\.jpg$)",
    "(assets/.*)",
    ".*\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
