{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "(types/.*|.*\\.types$|types)",
    "(env/.*|.*\\.env$|env|config/.*|.*\\.config$|config)",
    "(constants/.*|.*\\.constants$|constants)",
    "(schemas/.*|.*\\.schema(s)?$|schema(s)?)",
    "(plugins/.*|.*\\.plugin$|plugins)",
    "(db/.*|database/.*|.*\\.(db|database)$)",
    "(middleware/.*|.*\\.middleware$|middlewares?)",
    "(services/.*|.*\\.service(s)?$|service(s)?)",
    "(controllers/.*|.*\\.controller(s)?$|controller(s)?)",
    "(routes/.*|.*\\.routes?$|routes?)",
    "(utils?/.*|.*\\.(util|utils)$|.*\\-util$)",
    "(test-utils?/.*|.*\\.test-util$|.*\\-test-util$)",
    "^(./|../)(?!.*\\.(css|scss|jpg|jpeg|png|svg)$)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
