@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import 'tailwindcss';

@theme {
  --font-primary: 'Markazi Text', 'Lucida Console', 'sans-serif';
  --color-light-white: #ebebf0;
  --color-light-black: #18181b;
  --color-light-red: #f25f57;
}

:root {
  @apply text-light-white bg-light-black font-primary;
}
