.admin-menu-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 44px;
}

.admin-menu-container > .admin-menu {
    display: flex;
    flex-direction: column;
    width: 256px;
    align-items: center;
}

.user-section {
    display: flex;
    flex-direction: column;
}

.admin-menu > h1 {
    color: var(--text-color);
    align-self: center;
    user-select: none;
}

.user-section > button {
    color: var(--text-color);
    margin-top: 12px;
    align-self: center;
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
    width: 128px;
    height: 32px;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.2s;
}

.user-section > button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.user-section > .user-item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-light-color);
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
    padding: 4px 12px;
    width: 164px;
}

.user-item-list > .user-item {
    display: flex;
    justify-content: space-between;
}