.campaigns-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.campaigns-menu {
    margin-top: 44px;
    user-select: none;
}

.campaigns-menu > h1 {
    color: var(--text-color);
    text-align: center;
}

.campaigns-menu h3 {
    color: var(--text-color);
    text-align: center;
}

.campaigns-menu h3.loading {
    animation: fade-in-out 1s ease infinite;
}

.campaigns-menu h3.none-found {
    text-decoration: underline;
}

.campaigns-menu > hr {
    width: 50%;
}

.campaigns-list {
    display: flex;
    flex-direction: column;
    background-color: var(--background-light-color);
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
    width: 260px;
    max-height: 60vh;
    margin-top: 32px;
    overflow-y: auto;
}

.campaigns-list > .campaign-item {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    text-align: center;
}

.campaigns-list > .campaign-item > p {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.1em;
}

.campaigns-list > .campaign-item > .selected-campaign-message {
    text-decoration: underline;
    font-size: 1em;
}

.campaigns-list > .campaign-item > button {
    width: 64px;
    height: 32px;
    align-self: center;
    background-color: var(--background-light-color);
    color: var(--text-color);
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.2s;
}

.campaigns-list > .campaign-item > button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.create-campaign-button {
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--background-light-color);
    border: var(--border-light-color) 2px solid;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 18px;
    font-size: 1.1em;
    width: 128px;
    align-self: center;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.create-campaign-button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}