.character-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.sheet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    user-select: none;
}

.sheet-container > .stats-container {
    background-color: var(--background-light-color);
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 18px;
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
}

.stats-container > .stat-row-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.stat-row-container > .stat-row-value-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.stat-row-container > .stat-row-name {
    font-weight: 500;
    font-size: 1.1em;
}

.stat-row-value-container > .stat-row-value-number {
    font-weight: bold;
    font-size: 1.1em;
}

.stat-row-value-container > .stat-row-value-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    outline: none;
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
    color: var(--icon-light-color);
    background-color: var(--background-light-color);
    transition: background-color 0.4s;
}

.stat-row-value-container > .stat-row-value-button:hover {
    background-color: var(--background-dark-color);
}

.sheet-container > .items-container {
    background-color: var(--background-light-color);
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 160px;
    padding: 18px;
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
}

.items-container > .items-list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 200px;
    overflow-y: auto;
}

.items-list-container > .item-row-container {
    background-color: var(--background-light-color);
    color: var(--text-color);
    display: flex;
    border: 2px solid var(--border-light-color);
    border-radius: 8px;
    height: 26px;
    align-items: center;
    padding: 0 4px;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.2s, font-weight 0.1s;
}

.items-list-container > .item-row-container.selected {
    font-weight: 500;
    background-color: var(--background-dark-color);
}

.character-window-container,
.item-window-container {
    background-color: var(--background-light-color);
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
    align-self: center;
    width: 382px;
    height: auto;
    max-height: 512px;
    padding: 16px 32px;
    user-select: none;
    transition: opacity 0.1s;
}

.item-window-container.hidden {
    opacity: 0;
}

.item-window-container > .item-window-title {
    color: var(--text-color);
}

.item-window-container > .item-window-description {
    color: var(--text-color);
    height: auto;
    max-height: 412px;
    overflow-y: auto;
}