.login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    user-select: none;
    color: var(--text-color);
}

.site-icon {
    width: 86px;
    height: 86px;
    align-self: center;
    pointer-events: none;
}

.login-title {
    align-self: center;
}

.login-details-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    border: solid 2px var(--border-light-color);
}

.login-details-container > #username-label,
.login-details-container > #password-label {
    align-self: flex-start;
    margin-bottom: 4px;
    font-weight: 500;
}

.login-details-container > #username-input,
.login-details-container > #password-input {
    color: var(--text-color);
    margin-bottom: 8px;
    padding: 4px 6px;
    border: var(--border-light-color) 2px solid;
    outline: none;
    border-radius: 6px;
    height: 20px;
    transition: background-color 0.1s, border-color 0.1s, color 0.1s;
}

.login-details-container > #username-input:disabled,
.login-details-container > #password-input:disabled {
    background-color: var(--background-dark-color);
    user-select: none;
    pointer-events: none;
}

.login-details-container > #username-input.input-error,
.login-details-container > #password-input.input-error {
    background-color: var(--error-background-color);
    border-color: var(--error-border-color);
    color: white;
}

.login-details-container > #login-button {
    display: flex;
    height: 28px;
    padding: 4px 16px;
    background-color: var(--background-light-color);
    border-radius: 6px;
    border: var(--border-dark-color) 2px solid;
    cursor: pointer;
    font-weight: bolder;
    color: var(--text-color);
    overflow: hidden;
    transition: background-color 0.4s;
}

.login-details-container > #login-button:hover {
    background-color: var(--background-dark-color);
}

.login-details-container > #login-button:disabled {
    background-color: var(--background-dark-color);
    cursor: auto;
}

.login-details-container > #login-button > svg {
    align-self: center;
    animation: sway infinite 1s linear;
}

.login-details-container > .remember-me-container {
    display: flex;
    align-self: flex-start;
    gap: 4px;
    margin-bottom: 16px;
    align-items: center;
}

.remember-me-container > .remember-me-label {
    font-size: 0.9em;
    cursor: pointer;
}

.remember-me-container > #remember-me-toggle {
    appearance: none;
    width: 14px;
    height: 14px;
    border: var(--border-dark-color) 2px solid;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.remember-me-container > #remember-me-toggle:checked {
    background-color: var(--border-dark-color);
}

.login-details-container > .error-message {
    color: var(--error-text-color);
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 125, 0, 0.4);
    width: 156px;
    text-align: center;
}