.create-user-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    justify-content: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.2);
}

.create-user-menu {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--background-light-color);
    border: var(--border-light-color) 2px solid;
    border-radius: 8px;
    padding: 12px 24px;
    color: var(--text-color);
    user-select: none;
    pointer-events: all;
}

p.error {
    color: var(--error-dark-text-color);
    align-self: center;
    font-weight: bold;
}

.create-user-menu > hr {
    width: 50%;
}

.create-user-menu > label {
    font-weight: 500;
    margin-bottom: 4px;
}

.create-user-menu > input {
    color: var(--text-color);
    background-color: var(--background-light-color);
    border: var(--border-light-color) 2px solid;
    border-radius: 4px;
    outline: none;
    padding: 4px;
    margin-bottom: 18px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.create-user-menu > input.error {
    color: var(--error-light-text-color);
    background-color: var(--error-background-color);
    border-color: var(--error-border-color);
}

.user-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 16px;
    align-self: center;
}

.user-buttons-container > button {
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--background-light-color);
    border: var(--border-light-color) 2px solid;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 18px;
    width: 96px;
    align-self: center;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.user-buttons-container > button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}