name: Lint and Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'v24.9.0'
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Lint API
        run: npm run lint --workspace api
      - name: Build API
        run: npm run build --workspace api

      - name: Lint UI
        run: npm run lint --workspace UI
      - name: Build UI
        run: npm run build --workspace UI

      - name: Lint Common
        run: npm run lint --workspace common
      - name: Build Common
        run: npm run build --workspace common
