name: Lint and Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'v24.9.0'
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm clean-install

      - name: Run lint
        run: npm run lint --workspace frontend

      - name: Run build
        run: npm run build --workspace frontend

  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'v24.9.0'
          cache: npm
          cache-dependency-path: backend/package-lock.json

      - name: Install dependencies
        run: npm clean-install

      - name: Run lint
        run: npm run lint --workspace backend

      - name: Run build
        run: npm run build --workspace backend

common:
  runs-on: ubuntu-latest

  steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 'v24.9.0'
        cache: npm
        cache-dependency-path: package-lock.json

    - name: Install dependencies
      run: npm clean-install

    - name: Run common lint
      run: npm run lint --workspace common

    - name: Run common build
      run: npm run build --workspace common
